@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #BDD5EA;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    position: relative;
    margin: 100px, 0;
    z-index: 10;
}

.album-art {
    position: relative;
    width: 150px;
}

.album-art img {
    border-radius: 50%;
    object-fit: cover;
    height: 120px;
    width: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.container.play img {
    animation-play-state: running;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.nav-btn {
    background-color: white;
    border: 0;
    color: #495867;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav-btn-large {
    font-size: 24px;
}

.info {
    background-color: #495867;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 20px;
    width: calc(100% - 40px);
    padding: 10px 10px 10px 150px;
    transform: translateY(0%);
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 0;
    z-index: 0;
    color: white;
}

.container.play .info {
    opacity: 1;
    transform: translateY(-100%);
}

.info h4 {
    margin: 0;
    text-align: center;
}

h1 {
    margin-bottom: 100px;
}

.progress {
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 5px;
    width: 100%;
}

.progress-bar {
    background-color: #BDD5EA;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    transition: width 0.1s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}