@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    position: relative;
}

h1 button#add-card {
    position: absolute;
    right: 0;
    transform: translate(120%, -50%);
}

h1 button#clear-cards {
    position: absolute;
    right: 20;
    transform: translate(120%, -50%);
}

.btn {
    cursor: pointer;
    background-color: #e2e2e2;
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 20px;
    padding: 5px 10px;
}

.cards-container {
    perspective: 1000px;
    position: relative;
    height: 300px;
    width: 500px;
    max-width: 100%;
}

.card {
    position: absolute;
    opacity: 0;
    font-size: 18px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(50%) rotateY(-10deg);
    transition: transform 0.5s ease, opacity 0.5 ease;
}

.card.left {
    transform: translateX(50%) rotateY(10deg);
}

.card.active {
    opacity: 1;
    transform: translateX(0) rotateY(0deg);
}

.card.show-answer .inside-card {
    transform: rotateX(180deg);
}

.inside-card {
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5 ease;
}

.card-front, .card-back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.card-front {
    transform: rotateX(0deg);
}

.card-back {
    transform: rotateX(180deg);
}

.card-front::after, .card-back::after {
    content: '\f021  FLIP';
    font-family: 'Font Awesome 5 Free', 'Open Sans', sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #a2a2a2;
    letter-spacing: 1px;
}

.nav {
    display: flex;
    margin: 30px 0;
}

.btn-nav {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}

.nav p {
    margin: 0 20px;
}

.add-card-container {
    opacity: 0;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5 ease;
}

.add-card-container.active {
    opacity: 1;
}

.add-card-container h1 {
    margin: 10px 0;
}

label {
    display: block;
    margin: 20px 0 10px;
}

textarea {
    border: 1px solid #a2a2a2;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    min-width: 500px;
    max-width: 100%;
}